$width-desktop: 1024px;
$width-tablet: 768px;

$color-text-primary: #0d0d0d;
$color-text-secondary: #e5eaf4;
$color-text-accent: #3db370;

$color-light-blue: #caeff2;
$color-middle-blue: #d1e7ff;
$color-dark-blue: #b9dcff;
$color-white: #ffffff;
